<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Bootcamp Connect</title>
</head>

<body>
    <h1>Name App</h1>
    <form action="/names" method="post">
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName">
        </div>
        <div>
            <label for="linkedIn">LinkedIn:</label>
            <input type="text" id="linkedIn" name="linkedIn">
        </div>
        <button type="submit">Submit</button>
    </form>
    <h2>Name List</h2>
    <ul>
        <% names.forEach(name=> { %>
            <li><a href="<%= name.linkedIn %>">
                    <%= name.fullName %>
                </a></li>
            <% }); %>
    </ul>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>